
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}
body {
    display: flex;
    justify-content: center;
}
.app-container {
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    font-size: 32px;
    background-color:  hsl(0, 0%, 90%);
    color: hsl(60, 10%, 19%);
    margin: 80px 30px;
    padding: 40px 90px;
    width: 150vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
}
.theme-toggle {
    width: 50px;
    height: 15px;
    background-color: hsl(0, 5%, 81%);
    margin: 5px 0;
    border: none;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: 0.4s;
}
.theme-toggle:after  {
    content: "";
    width: 12px;
    height: 12px;
    top: 2px;
    left: 16px;
    border-radius: 10px;
    position: absolute;
    transition: 0.4s;
    background-color: hsl(6, 63%, 50%);
}
.screen {
    background-color: hsl(0, 0%, 93%);
    display: flex;
    justify-content: right;
    padding: 15px;
    margin: 15px 0;
    border-radius: 6px;
}
main {
    background-color: hsl(0, 5%, 81%);
    padding: 15px;
}
main .primary {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}
.secondary {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}
main button {
    border-radius: 6px;
    padding: 15px;
    font-weight: 700;
    color:hsl(60, 10%, 19%);
    background-color:hsl(45, 7%, 89%);
    box-shadow: 1px 3px 1px  hsl(35, 11%, 61%);
}
button:hover {
    background-color:  hsl(0, 0%, 100%);
    transition: ease 0.3s;
    transform: scale(1.1);
}
.delete, .reset {
    background-color:  hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 1px  hsl(185, 58%, 25%);
}
.result {
    background-color: hsl(25, 98%, 40%);
    color: hsl(0, 0%, 100%);
    box-shadow: 1px 3px 1px hsl(25, 99%, 27%);
}
.delete:hover, .reset:hover {
    background-color: hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
}
.result:hover {
    background-color: hsl(25, 98%, 40%);
    color: hsl(0, 0%, 100%);
}
